@import "../variables";

.send-email{
  width: 90%;
  margin: auto;
  padding: 2rem 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  h5{
    font-size: 1.5rem;
    margin-bottom: 0;
  }
  .slide-button{
    min-width: 80%;
    text-align: center;
    position: relative;
    display: block;
    padding: 1rem 0.6rem;
    border-radius: 4px;
    font-weight: bold;
    font-size: 1.2rem;
  }
}

@media (min-width: 768px){
  .send-email{
    width: 75%;
    padding-left: 5rem;
    padding-right: 5rem;
    .slide-button{
      min-width: 50%;
      text-align: center;

    }
  }
}
