@import "../variables";

footer{
  background: $secondary;
  width: 100%;
  padding: 2rem 1rem;
  display: flex !important;
  justify-content: space-around;
  align-items: center;
  a{
    color: white;
    &:hover{
      color: white;
    }
    svg{
    }
  }
}

@media (min-width: 768px){
  footer{
      font-size: 1.4rem;
      svg{
        font-size: 1.6rem;
      }
  }
}
