@import "../_variables.scss";

.experience-item{
  margin-bottom: 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: $light;
  transition: all 300ms ease-in;
  padding: 2rem;
  border-radius: 30px;

  &:hover{
    transform: scale(1.1);
    background: $secondary;
  }
  img{
    border-radius: 30px;
    max-height: 20vh;
  }
}


