

@font-face{
  src: url('./fonts/Bungee-Regular.ttf');
  font-family: Bungee-Regular;
}

h1, h2, h3{
  font-family: Bungee-Regular;
}


.paper{
  padding: 1rem;
  background: #F1F1F1;
  width: 100%;
  box-shadow: 1px 1px 3px #ccc;
}
